<?xml version="1.0"?>
<clickhouse>
    <listen_host>0.0.0.0</listen_host>
    <max_server_memory_usage>9663676416</max_server_memory_usage>
    <max_concurrent_queries>10</max_concurrent_queries>
    <macros>
        <shard>01</shard>
        <replica>replica1</replica>
    </macros>
    <merge_tree>
        <max_bytes_to_merge_at_max_space_in_pool>2147483648</max_bytes_to_merge_at_max_space_in_pool>
    </merge_tree>
    <profiles>
        <default>
            <max_memory_usage>1073741824</max_memory_usage>
            <max_bytes_before_external_group_by>536870912</max_bytes_before_external_group_by>
            <max_bytes_before_external_sort>536870912</max_bytes_before_external_sort>
        </default>
    </profiles>
</clickhouse>
